* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6fa;
}

.navbar {
  width: 100vw;
  height: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px #e8e8e8 solid;
  padding-left: 5vw;
  background-color: #ffff;
}

.navbar-title {
  font-size: 3vw;
  color: rgb(38, 145, 233);
  margin-top: 1vw;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style: none;
  gap: 1vw;
}

.navbar-item {
  font-size: 1.2vw;
  color: rgb(194, 179, 179);
  text-decoration: none;
  cursor: pointer;
  padding-right: 1.5vw;
  font-weight: 400;
  position: relative;
  top: 1.2vw;
}

.nav-item.active,
.navbar-item:hover {
  color: black;
  font-weight: bold;
}

.categories {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

h2 {
  color: rgb(138, 116, 116);
  font-size: 4vw;
  font-weight: 400;
  text-align: left;
  margin-top: 10vw;
}

.cat-description {
  color: rgb(245, 14, 14);
  font-size: 3vw;
  font-weight: 600;
  text-align: left;
  margin-top: 2vw;
}

.books-container {
  width: 90%;
  height: auto;
  background-color: rgb(194, 135, 248);
  margin-top: 6vw;
}

.number-books {
  font-size: 2vw;
  font-weight: 800;
  margin-top: 0;
}

.booklist {
  list-style: none;
  margin-top: -2vw;
}

.book-item {
  margin-top: 1vw;
  font-size: 1vw;
}

.add-book-form {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 1vw;
}

h3 {
  margin-top: -0.15vw;
  padding-right: 1vw;
}
